[Desktop Entry]
Type=Application
Version=1.0
Name=Yall
Comment=Message to Nostr, Bluesky, and Mastodon from one place
Exec=/home/tim/.local/bin/yall
Icon=yall
Terminal=false
Categories=Network;Office;
StartupWMClass=yall
StartupNotify=true
